{% load static %}
<html>
<head>
<title>Internship</title>
<link rel="stylesheet" href="
{% static '/css/index.css' %}"">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<style>
	.c2
{
	width:100%;
	height:30%;
	background-image:url("{% static '/img/1.png' %}");
	background-repeat:no-repeat;
	margin-left:15%;
}
</style>
</head>
<body>
<div class="main_div">
<div class="main_1">
<div class="A">
	<div class="A1"><h2 style="color:blue;"><i class="fas fa-pencil-alt"></i> &nbsp;LetsLearn</h2></div>
	<div class="A2"><h3 style="color:black"><i class="fas fa-home"></i>&nbsp;My dashboard</h3></div>
	<div class="A2"><h3 style="color:#AFA9A8"><i class="fas fa-bars"></i>&nbsp;Class</h3></div>
	<div class="A2"><h3 style="color:#AFA9A8"><i class="far fa-plus-square"></i>&nbsp;Resources</h3></div>
	<div class="A2"><h3 style="color:#AFA9A8"><i class="far fa-calendar-alt"></i>&nbsp;Schedule</h3></div>
	<div class="A2"><h3 style="color:#AFA9A8"><i class="far fa-comment-alt"></i>&nbsp;Messages</h3></div>
	<div class="A2"><h3 style="color:#AFA9A8"><i class="fas fa-user"></i>&nbsp;Profile</h3></div>
	<div class="A2"><h3 style="color:#AFA9A8"><i class="fas fa-wrench"></i>&nbsp;Settings</h3></div>

</div>
<div class="B"></div>
</div>
<div class="main_2">
<div class="c1">
	<div id="c11"><h2>My Dashboard</h2></div>
	<div id="c12"><input type="text"  placeholder= "What are you looking for?" ></div>
</div>
<div class="c2"></div>
<div class="c3">
	<div id="c31">
		<h4>Todays Class</h4>
		<div class="today1">
			<div class="class_div_1">
				<div class="blank_div"></div>
			</div>
			<div class="class_div_2">
				<h3>Physics- Chapter 5</h3>
			</div>
			<div class="class_div_3" style="border-color:red white red red;"><h3>75%</h3></div>
		</div>
		<div class="today1">
			<div class="class_div_1">
				<div class="blank_div"></div>
			</div>
			<div class="class_div_2">
				<h3>Physics- Chapter 5</h3>
			</div>
			<div class="class_div_3"  style="border-color:green green green green;"><h3>100%</h3></div>
		</div>
		<div class="today1">
			<div class="class_div_1">
				<div class="blank_div"></div>
			</div>
			<div class="class_div_2">
				<h3>Physics- Chapter 5</h3>
			</div>
			<div class="class_div_3"  style="border-color:white blue white white;"><h3>20%</h3></div>
		</div>
	</div>
		<div id="c32">
			<h4>Time Spent</h4>
			<div id="time_spent">
				<div id="ts1"><p>Good job, keep going!</p></div>
				<div id="ts2">
					<div id="ts22">
					<p style="margin-top:30%;">4 hours <br>35 mins</p>
					</div>
				</div>
				<div id="ts3">
					<div class="ts31">
						<div class="ts32" style="background-color:orange;"></div>
						<p class="add_p">Mathematics -45 mins</p>
					</div>
					<div class="ts31">
						<div class="ts32" style="background-color:blue;"></div>
						<p class="add_p">Physics - 1 hours 2 mins</p>
					</div>
					<div class="ts31">
						<div class="ts32" style="background-color:purple;"></div>
						<p class="add_p">Biology - 2 hours 5 mins</p>
					</div>
					<div class="ts31">
						<div class="ts32" style="background-color:red;"></div>
						<p class="add_p"> Language - 40 mins</p>
					</div>
				</div>
				
			</div>
		</div>
</div>

</div>
<div class="main_1">
	<div class="part_3">
		<div id="circle_2"></div>
		<div id="p32">
		<p class="add_p1">Alice Potter</p>
		<p class="add_p2">Student Grade 8</p>
		</div>
	</div>
	<div class="part_3">
		<div class="ls1">
			<div class="ls12"><p class="p_part_p1">Latest Score</p></div>
			<!-- <div class="ls13"><p class="p_part_p1">View all-></p></div> -->
		</div>
		<br>
		<div class="s1">
			<div class="icn"><p>8.5</p></div>
			<div class="sname"><p>Physics - Chapter 5</p></div>
		</div><br>
		<div class="s1">
			<div class="icn"><p>9.5</p></div>
			<div class="sname"><p>Mathematics - Unit 3</p></div>
		</div><br>
		<div class="s1">
			<div class="icn"><p>2.0</p></div>
			<div class="sname"><p>Biology - chapter 4</p></div>
		</div>
		
	</div>
	<br>
	<div class="part_3">
		<div class="ls1">
			<div class="ls12"><p class="p_part_p1">Reminder</p></div>
			<!-- <div class="ls13"><p class="p_part_p1">View all-></p></div> -->
		</div>
		<br>
		<div class="s1">
			<div class="icn"><i style="font-size: 25px;" class="fas fa-info-circle"></i>

			</div>
			<div class="sname"><p>Physics Homework</p></div>
		</div><br>
		<div class="s1">
			<div class="icn"><i style="font-size: 25px;" class="far fa-comment-alt"></i></div>
			<div class="sname"><p>Teacher Amy's message</p></div>
		</div><br>
		<div class="s1">
			<div class="icn"><i style="font-size: 25px;" class="far fa-comment-alt"></i></div>
			<div class="sname"><p>Teacher James message</p></div>
		</div>
	</div>

</div>
</div>
</body>
</html>