{% load static %}
body
{
	 font-family: "Times New Roman", Times, serif;
}

.main_div
{
	width:100%;
	height:100%;
	
}
.main_1
{
	width:19.5%;
	height:90%;
	float:left;
	background-color:#FDF9F9;
	border-radius:5%;
}
.main_2
{
	width:59.5%;
	height:90%;
	float:left
}
.A
{
	width:100%;
	height:70%;
}
.B
{
	width:100%;
	height:30%;
}
.A1
{
	width:100%;
	height:10%;
	margin-bottom:3%;
	text-align:center;
}
.A2
{
	width:100%;
	height:8%;
	margin-bottom:3%;
}
.c1
{
	width:100%;
	height:10%;
}
#c11
{
	float:left;
	width:30%;
	margin-left:4%;
}
#c12
{
	width:66%;
	float:left;
	margin-top:2%;
}
.c2
{
	width:100%;
	height:30%;
	background-image:url("{% static '/img/1.png' %}");
	background-repeat:no-repeat;
	margin-left:15%;
}
.c3
{
	width:100%;
	height:60%;
}
#c31
{
	height:100%;
	width:54.5%;
	float:left;
	
}
#c32
{
	height:100%;
	width:44.5%;
	float:left;
	background-color:#FDF9F9;
}
.today1
{
	width:95%;
	height:20%;
	margin:2%;
	border-radius:15px;
	border-style: solid;
	border-width: 1px;
}
.class_div_1
{
	height:100%;
	width:19.5%;
	float:left;
}
.class_div_3
{
	height:70%;
	width:15%;
	float:left;
	margin-top:1%;
	border-radius:50%;
	border-width:6px;
	border-style:solid;
	text-align:center;
}
.class_div_2
{
	height:100%;
	width:59.5%;
	float:left;
}
.blank_div
{
	width:96%;
	height:96%;
	border-radius:15px;
	background-color:#F5F0EF;
	margin:1%;
}
#time_spent
{
	width:100%;
	height:80%;
}
#ts1
{
	width:100%;
	height:10%;
	text-align:center;
}
#ts2
{
	width:100%;
	height:49.5%;
	
}
#ts22
{
	width:30%;
	height:74%;
	border-radius:50%;
	border-style: solid;
	border-width: 15px;
	margin-left:25%;
	border-color: red blue purple orange;
	text-align:center;
}
#ts3
{
	width:100%;
	height:39.5%;
}
.ts31
{
	width:90%;
	height:20%;
	float:left;
	margin-left:5%;
}
.ts32
{
	width:5%;
	height:60%;
	border-style: solid;
	border-width: 1px;
	border-radius:50%;
	float:left;
	margin-left:3%;
	margin-top:1%;
}
.ts33
{
	float:left;
	width:70%;
	height:60%;
}
.add_p
{
	margin-top:auto;
	margin-left:24%;
}
.part_3
{
	width:100%;
	height:33.3%;
}
#circle_2
{
	width:57%;
	height:60%;
	border-radius:50%;
	border-style: solid;
	border-width: 1px;
	margin-left:20%;
	margin-top:3%;
	background-color:#F5F0EF;
}
#p32
{
	width:100%;
	height:30%;
	margin-top:3%;
}
.add_p1
{
	margin-top:auto;
	margin-left:35%;
}
.add_p2
{
	margin-top:-7%;
	margin-left:30%;
}
.ls1
{
	width:100%;
	height:10%;
}
.ls12
{
	margin-left:3%;
	float:left;
}
.ls13
{
	margin-left:43%;
	float:left;
}
.p_part_p1
{
	margin:auto;
}
.s1
{
	width:100%;
	height:20%;
}
.icn
{
	height:96%;
	width:25%;
	border-style: solid;
	border-width: 1px;
	float:left;
	margin:2%;
	border-radius:15px;
	text-align:center;
	background-color:#F5F0EF;
}
.sname
{
	height:100%;
	width:69%;
	float:left;
}
input
{
	width:60%;
	height:50%;
	margin-left:30%;
	border-radius:10px;
}
h4,h3
{
	margin-left:2%;
}
h3
{
	color:#575251 ;
	
}